.black-border {
	border: 1px solid black;
	box-sizing: border-box;
}

/* utility classes */
.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.bbox {
	box-sizing: border-box;
}

/* generic classes */
.centered-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn {
	text-transform: uppercase;
	font-size: 16px;
	line-height: 16px;
	border-radius: 4px;
	cursor: pointer;
}

.container {
	width: 90vw;
	max-width: 576px;

	margin: 6vw auto;
	padding: 20px 50px;

	border-radius: 8px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
}

.team-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.team-section-title {
	text-transform: uppercase;
}

.pts-display {
	display: flex;
	position: relative;
	left: -30px;
}

.pts-btns {
	height: 140px;
	width: 60px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.pts-btn {
	width: 50px;
	height: 40px;
}

.pts-card {
	height: 140px;
	width: 140px;
	font-size: 50px;
	line-height: 50px;
}

@media(min-width: 576px) {
	main {
		flex-direction: row;
	}

	/* .pts-display {
		left: -30px;
	} */

	.pts-display-right {
		flex-direction: row-reverse;
		left: 30px;
	}

	.pts-btns-right {
		align-items: flex-end;
	}
}