.black-border {
	border: 1px solid black;
	box-sizing: border-box;
}

/* UTILITY CLASSES */
.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.bbox {
	box-sizing: border-box;
}

/* GENERIC CLASSES */
.centered-content {
	/* content alignment */
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn {
	cursor: pointer;
}

/* CONTENT SPECIFIC CLASSES */
.scoreboard-container {
	/* sizing and positioning */
	width: 90vw;
	max-width: 576px;
	margin: 6vw auto;

	/* content alignment */
	display: flex;
	flex-direction: column;
}

main {
	/* content alignment */
	display: flex;
	flex-direction: column;
}

.pts-container {
	/* content alignment */
	display: flex;
}

.pts-btns {
	/* sizing */
	width: 60px;
	height: 140px;

	/* content alignment */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.pts-btn {
	/* sizing */
	width: 50px;
	height: 40px;
}

.pts-card {
	/* sizing */
	width: 140px;
	height: 140px;
}

.gameplay-section {
	/* content alignment */
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.gameplay-items {
	/* content alignment */
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.gameplay-item {
	/* sizing */
	height: 8px;
	width: 8px;

	border-radius: 50%;
	background: black;
}

@media (min-width: 576px) {
	main {
		/* content alignment */
		flex-direction: row;
		justify-content: space-between;
	}

	.pts-container-right {
		/* content alignment */
		flex-direction: row-reverse;
	}

	.pts-btns-right {
		/* content alignment */
		align-items: flex-end;
	}
}